@import url('https://fonts.googleapis.com/css2?family=Allura&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Indie+Flower&display=swap');

.stickyRoot {
  --prim-color: #736a5a;
  --secondary-color: #625549;
  --bg-section: #9b968f;
  --white-color: #ededed;
  --black-color: #000000; /* text black now */
  --nav-box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);

  --them-color1-light: #F4E3B2;
  --them-color1-dark:  #D9B88F;
  --them-color2-light: #E6B89C;
  --them-color2-dark:  #C97D60;
  --them-color3-light: #BFD8B8;
  --them-color3-dark:  #8FB996;
  --them-color4-light: #A8C6C1;
  --them-color4-dark:  #6E8B88;
  --them-color5-light: #DAB6C4;
  --them-color5-dark:  #AC7D88;

  --Atkinson-font: "Atkinson Hyperlegible Mono", sans-serif;
  --Indie-Flower-font: "Indie Flower", cursive;
  --Allura-font: "Allura", cursive;

  --transition-regular: .3s;
  --transition-slow: .6s;
}

.stickyContainer {
  background-color: var(--bg-section);
  min-height: 100vh;
  width: 100vw;      
  padding: 2rem;
  font-family: var(--Atkinson-font);
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto; /* scroll if notes overflow */
}

